<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnimatedGifViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <AnimatedGifViewer.Properties.Settings>
            <setting name="FormSize" serializeAs="String">
                <value>684, 440</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>320, 180</value>
            </setting>
            <setting name="FormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </AnimatedGifViewer.Properties.Settings>
    </userSettings>
</configuration>
